.project {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.project__title {
  font-size: 25px;
  margin-bottom: 50px;
  padding: 0 30px;
  font-size: 30px;
  text-align: center;
}

.project__inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
