.skills {
  margin-top: 60px;
  margin-bottom: 60px;
}

.skills__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.skills__inner h3 {
  font-size: 30px;
  margin-bottom: 50px;
}
.skills__inner .skills__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 745px) {
  .skills__content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
}
