footer {
  height: 100px;
  background-color: #f0f0f0;
}
footer .footer__inner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10px;
}
footer .instruction__link {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
footer span {
  margin-right: 8px;
}
footer span a {
  text-decoration: none;
}

@media (max-width: 920px) {
  footer {
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .footer__inner {
    padding: 30px;
  }
}
