body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  margin: 0;
}

*,
:before,
:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
